@using Restaurant.Models
@model Mstock
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Limitless - Responsive Web Application Kit by Eugene Kopyov</title>
<!-- Global stylesheets -->
<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
<link href="~/Content/global_assets/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">
<link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="~/Content/assets/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
<link href="~/Content/assets/css/layout.min.css" rel="stylesheet" type="text/css">
<link href="~/Content/assets/css/components.min.css" rel="stylesheet" type="text/css">
<link href="~/Content/assets/css/colors.min.css" rel="stylesheet" type="text/css">
<!-- /global stylesheets -->
<!-- Core JS files -->
<script src="~/Content/global_assets/js/main/jquery.min.js"></script>
<script src="~/Content/global_assets/js/main/bootstrap.bundle.min.js"></script>
<script src="~/Content/global_assets/js/plugins/loaders/blockui.min.js"></script>
<!-- /core JS files -->
<!-- Theme JS files -->
<script src="~/Content/global_assets/js/plugins/forms/selects/select2.min.js"></script>
<script src="~/Content/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
<script src="~/Content/assets/js/app.js"></script>
<script src="~/Content/global_assets/js/demo_pages/form_layouts.js"></script>
<!-- /theme JS files -->
<!-- Page header -->
<div class="page-header page-header-light">
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Stock</span> - Edit Stock</h4>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>
        <div class="header-elements d-none">
            <div class="d-flex justify-content-center">
                <a href="#" class="btn btn-link btn-float text-default"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
                <a href="#" class="btn btn-link btn-float text-default"><i class="icon-calculator text-primary"></i> <span>Invoices</span></a>
                <a href="#" class="btn btn-link btn-float text-default"><i class="icon-calendar5 text-primary"></i> <span>Schedule</span></a>
            </div>
        </div>
    </div>
    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a href="index.html" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                <a href="form_layout_vertical.html" class="breadcrumb-item">Stock</a>
                <span class="breadcrumb-item active">Edit Stock</span>
            </div>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>
    </div>
</div>
<!-- /page header -->
<!-- Content area -->
<div class="content">

    <!-- 2 columns form -->
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">Stock</h5>
            @ViewBag.ErrorMsg
            <div class="header-elements">
                <div class="list-icons">
                    <a href="@Url.Action("Index","Stock")" class="btn bg-teal-400 btn-labeled btn-labeled-left"><b><i class="icon-list-unordered"></i></b>View List</a>
                </div>
            </div>
        </div>

        <div class="card-body">
            @using (Html.BeginForm("Update", "Stock", FormMethod.Post, new { @class = "flex-fill", @id = "frmtype", enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(M => M.StockID)
                <div class="row">
                    <div class="col-md-12">
                        <fieldset>
                            <legend class="font-weight-semibold"><i class="icon-reading mr-2"></i> Edit stock details</legend>


                            <div class="form-group">
                                <label>Party ID</label>
                                @Html.DropDownList("PartyID", new List<SelectListItem>
                                {
                                    new SelectListItem{Text="Select"},
                                    new SelectListItem{},
                                    new SelectListItem{},
                                }, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>Ingredients ID</label>
                                @Html.DropDownList("IngID", new List<SelectListItem>
                                {
                                    new SelectListItem{Text="Select"},
                                    new SelectListItem{},
                                    new SelectListItem{},
                                }, new { @class = "form-control" })
                            </div>



                            @*<div class="form-group">
                            <label>Party ID:</label>
                            @Html.TextBoxFor(M => M.PartyID, new { @type = "text", @class = "form-control", @placeholder = "Enter Item Name", @required = "required" })
                        </div>

                        <div class="form-group">
                            <label>Ingredients ID</label>
                            @Html.TextBoxFor(M => M.IngID, new { @type = "text", @class = "form-control", @placeholder = "Enter Item Name", @required = "required" })
                        </div>*@

                            <div class="form-group">
                                <label>Quantity:</label>
                                @Html.TextBoxFor(M => M.StockQty, new { @type = "text", @class = "form-control", @placeholder = "Enter Quantity", @required = "required" })
                            </div>


                        </fieldset>
                    </div>
                </div>

                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Update<i class="icon-paperplane ml-2"></i></button>
                </div>
            }
        </div>
    </div>
    <!-- /2 columns form -->

</div>
<!-- /content area -->