@using Restaurant.Models
@model Mbooktable

@{
    if (Session["Email"] != null)
    {
        ViewBag.CustSession = Session["Email"];
        ViewBag.Name = Session["Name"];

    }
    else
    {
        Response.Redirect("~/SignatureRestaurant/Login");
    }

}

@{
    ViewBag.Title = "BookATable";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<!-- meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="arrowthemes, bakery, cafe, ristorante theme, coffee shop, cooking, dining, food, full screen, html template, menu, pizza, responsive, restaurant, template" />
<meta name="description" content="Gaucho is an exquisite food & restaurant HTML template with a unique concept. Gaucho comes bundled with astounding features like page preloader, pre-built pages, full page slider and much more" />
<meta name="author" content="arrowthemes">
<title>Book A Table - Signature Restaurant & Green Food</title>

<!-- fav icon -->
<link href="~/Content/Customer/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
<link rel="apple-touch-icon" href="~/Content/Customer/images/apple-touch-icon.png">

<!-- css -->
<link rel="stylesheet" href="~/Content/Customer/css/plyr.css">
<link rel="stylesheet" href="~/Content/Customer/css/theme.css">
<link rel="stylesheet" href="~/Content/Customer/css/custom.css">

<!-- bottom-d -->
<div id="tm-bottom-d" class="tm-block-bottom-d uk-block uk-block-default tm-inner-shadow tm-overlay-secondary" data-uk-parallax="{bg: '-200'}" style="background-image: url('../Content/Customer/images/background/bg-image-1.jpg');">
    <div class="uk-container uk-container-center">
        <section class="tm-bottom-d uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin>



            <div class="uk-width-1-1 uk-width-medium-1-3">
                <div class="uk-panel uk-contrast">

                    <h2 class="uk-module-title-alt uk-margin-large-top">Open Hours</h2>

                    <dl class="uk-description-list-horizontal">
                        <dt>Monday - Friday</dt>
                        <dd>8:00 am to 10:00 pm</dd>
                    </dl>
                    <dl class="uk-description-list-horizontal">
                        <dt>Saturdays</dt>
                        <dd>8:00 am to 12:00 pm</dd>
                    </dl>
                    <dl class="uk-description-list-horizontal">
                        <dt>Sundays</dt>
                        <dd>1:00 pm to 9:00 pm</dd>
                    </dl>

                    <br>

                    <h2 class="uk-module-title-alt uk-margin-large-top">From the Kitchen</h2>
                    <img class="uk-align-left uk-margin-large-right" src="~/Content/Customer/images/demo/avatar/client-5.png" alt="Kitchen" width="120" height="160">
                    <p>
                        "Do it now, not tomorrow. Always continue the climb. It is possible for you to do."
                    </p>

                    <div class="uk-text-right">
                        <img src="~/Content/Customer/images/demo/signature/sign-1-white.png" alt="Kitchen" width="200" height="80">
                    </div>
                </div>
            </div>

            <div class="uk-width-1-1 uk-width-medium-1-2">
                <div class="uk-panel uk-panel-box uk-panel-box-primary uk-text-center">

                    <!-- reservation form -->
                    <h3 class="uk-module-title-alt">Book A Table</h3>
                    <div>

                        @if (ViewBag.ErrorMsg != "")
                        {
                            if (ViewBag.ErrorMsg == "Exist")
                            {
                                <div class="uk-width-1-1 uk-grid-margin">
                                    <div class="uk-alert uk-alert-danger" data-uk-alert="">
                                        <a class="uk-alert-close uk-close"></a>
                                        <p>Sorry!</p>Table Already Booked.!
                                    </div>
                                </div>
                            }
                            else if (ViewBag.ErrorMsg == "Success")
                            {
                                <div class="uk-width-1-1">
                                    <div class="uk-alert uk-alert-success" data-uk-alert="">
                                        <a class="uk-alert-close uk-close"></a>
                                        <p>Well Done!</p>You Have Successfully Booked Table.
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="uk-width-1-1 uk-grid-margin">
                                    <div class="uk-alert uk-alert-warning" data-uk-alert="">
                                        <a class="uk-alert-close uk-close"></a>
                                        <p>@ViewBag.ErrorMsg</p>
                                    </div>
                                </div>
                            }
                        }

                    </div>


                    @using (Html.BeginForm("SaveTable", "SignatureRestaurant", FormMethod.Post, new { @class = "uk-form uk-form-horizontal uk-margin-top", @id = "booking_form", enctype = "multipart/form-data" }))
                    {


                        <div id="alert-msg-booking" class="alert-msg"></div>

                        <div class="uk-grid uk-grid-width-medium-1-1 uk-grid-width-1-1" data-uk-grid-margin>

                            <div class="uk-form-icon">
                                <i class="uk-icon-info-circle"></i>
                                @Html.TextBoxFor(M => M.Name, new { @type = "text", @class = "uk-width-1-1", @placeholder = "Name" })
                            </div>

                            <div class="uk-form-icon">
                                <i class="uk-icon-users"></i>
                                @Html.TextBoxFor(M => M.Guests, new { @type = "text", @class = "uk-width-1-1", @placeholder = "Guests" })
                            </div>

                            <div class="uk-form-icon">
                                <i class="uk-icon-calendar"></i>
                                @Html.TextBoxFor(M => M.Date, new { @type = "date", @id = "txtDate", @class = "uk-width-1-1", @placeholder = "Date" })                               
                            </div>

                            <div class="uk-display-block uk-form-icon">
                                <i class="uk-icon-clock-o"></i>
                                @Html.TextBoxFor(M => M.Time, new { @type = "Time", @class = "uk-width-1-1", @placeholder = "Time" })
                            </div>

                            <div class="uk-form-icon">
                                <i class="uk-icon-phone"></i>
                                @Html.TextBoxFor(M => M.Contact, new { @type = "text", @class = "uk-width-1-1", @placeholder = "Contact", @maxlength = "10" })
                            </div>

                            <div class="form-group uk-margin-remove">
                                <button id="booking_submit" type="submit" class="uk-button uk-button-default uk-button-large uk-margin-large-top">Submit</button>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </section>
    </div>
</div>

<!-- js -->
<script src="~/Content/Customer/js/jquery/jquery.min.js" type="text/javascript"></script>

<!-- uikit -->
<script src="~/Content/Customer/vendor/uikit/js/uikit.min.js" type="text/javascript"></script>

<script src="~/Content/Customer/vendor/uikit/js/components/accordion.min.js" type="text/javascript"></script>
<script src="~/Content/Customer/vendor/uikit/js/components/autocomplete.min.js" type="text/javascript"></script>
<script src="~/Content/Customer/vendor/uikit/js/components/datepicker.min.js" type="text/javascript"></script>
<script src="~/Content/Customer/vendor/uikit/js/components/grid.min.js" type="text/javascript"></script>
<script src="~/Content/Customer/vendor/uikit/js/components/lightbox.min.js" type="text/javascript"></script>
<script src="~/Content/Customer/vendor/uikit/js/components/parallax.min.js" type="text/javascript"></script>
<script src="~/Content/Customer/vendor/uikit/js/components/slider.min.js" type="text/javascript"></script>
<script src="~/Content/Customer/vendor/uikit/js/components/slideset.min.js" type="text/javascript"></script>
<script src="~/Content/Customer/vendor/uikit/js/components/slideshow.min.js" type="text/javascript"></script>
<script src="~/Content/Customer/vendor/uikit/js/components/sticky.min.js" type="text/javascript"></script>
<script src="~/Content/Customer/vendor/uikit/js/components/timepicker.min.js" type="text/javascript"></script>
<script src="~/Content/Customer/vendor/uikit/js/components/tooltip.min.js" type="text/javascript"></script>

<!-- theme -->
<script src="~/Content/Customer/js/theme.js" type="text/javascript"></script>

<!-- plyr -->
<script src="~/Content/Customer/js/plyr.js" type="text/javascript"></script>

<!-- add active menu -->
<script>
    $(function () {
        function getUrlVars() {
            var vars = {};
            var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (m, key, value) {
                vars[key] = value;
            });
            return vars;
        }

        var current_page = "indexa54e.html?page=" + getUrlVars()["page"];
        $('.tm-nav li a').each(function () {
            var link_page = this.href.substring(this.href.lastIndexOf('https://demo.arrowthemes.com/') + 1);
            var parent = $(this).parent();
            if (current_page == link_page) {
                parent.addClass('uk-active').closest('.uk-navbar-nav > li').addClass('uk-active');
                parent.closest('li.uk-parent').addClass('uk-active');
            }
        });
    })</script>

<script>
    // demo scripts
    (function ($) { $(document).on('ready', function () { var config = $("html").data("config") || { style: "default" }; $('img[src*="demo/default"]').each(function () { var e = new Image, c = this.src.replace("demo/default", "demo/" + config.style), a = this; e.onload = function () { a.src = c }, e.src = c }), setTimeout(function () { $(".uk-cover-background").each(function () { var e = new Image, c = $(this).css("background-image").replace("demo/default", "demo/" + config.style), a = $(this); e.onload = function () { a.css("background-image", c) }, e.src = c.replace(/url\(\"?(.+?)\"?\)/i, "$1") }) }, 20); }); })(jQuery);</script>

<script>
    $("#booking_submit").on("click", function () {
        if (!$("#frmtype").valid()) {
            return false;
        }
    });
</script>



<script src="~/Content/validation/jquery.validate.min.js"></script>
<script src="~/Content/validation/additional-methods.min.js"></script>
<script>
    $(document).ready(function () {

        $("#booking_form").validate({

            rules:
            {
                Name: {
                    required: true,
                },
                Guests: {
                    required: true,
                },
                Contact: {
                    required: true,
                    minlength: 10
                },
                Date: {
                    required: true,                   
                },
                Time: {
                    required: true,
                }


            },
            messages:
            {
                Name: {
                    required: "Please Enter Name.",
                },
                Guests: {
                    required: "Please Enter Guests.",
                },
                Contact: {
                    required: "Please Enter Contact Number.",
                    number: "Please Enter a Valid Contact Number.",
                    minlength: "Your Contact must be at 10 Characters Long.",
                    maxlength: "Please Enter no more than 10 Characters."
                },
                Date: {
                    required: "Please Enter Date.",
                },
                Time: {
                    required: "Please Enter Time.",
                }
            }
        });

        $("#Contact,#Guests").keypress(function (e) {

            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                $("#errmsg").html("Input Only 0-9 Number").show().fadeOut("slow");
                return false;
            }
        });


    });

</script>


<script type="text/javascript">
    $(function () {
        var dtToday = new Date();

        var month = dtToday.getMonth() + 1;
        var day = dtToday.getDate();
        var year = dtToday.getFullYear();
        if (month < 10)
            month = '0' + month.toString();
        if (day < 10)
            day = '0' + day.toString();

        var minDate = year + '-' + month + '-' + day;

        $('#txtDate').attr('min', minDate);
    });
</script>