@using Restaurant.Models
@model Morder
@{
    ViewBag.Title = "status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Order Status - Signature Restaurant & Green Food</title>
<!-- Global stylesheets -->
<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
<link href="~/Content/global_assets/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">
<link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="~/Content/assets/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
<link href="~/Content/assets/css/layout.min.css" rel="stylesheet" type="text/css">
<link href="~/Content/assets/css/components.min.css" rel="stylesheet" type="text/css">
<link href="~/Content/assets/css/colors.min.css" rel="stylesheet" type="text/css">
<!-- /global stylesheets -->
<!-- Core JS files -->
<script src="~/Content/global_assets/js/main/jquery.min.js"></script>
<script src="~/Content/global_assets/js/main/bootstrap.bundle.min.js"></script>
<script src="~/Content/global_assets/js/plugins/loaders/blockui.min.js"></script>
<!-- /core JS files -->
<!-- Theme JS files Redio button-->
<script src="~/Content/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
<script src="~/Content/global_assets/js/plugins/forms/styling/switchery.min.js"></script>
<script src="~/Content/global_assets/js/plugins/forms/styling/switch.min.js"></script>
<script src="~/Content/assets/js/app.js"></script>
<script src="~/Content/global_assets/js/demo_pages/form_checkboxes_radios.js"></script>
<!-- /theme JS files Redio button -->

<!-- Page header -->
<div class="page-header page-header-light">
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Order Status</span> - Update Order Status</h4>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>
        @*<div class="header-elements d-none">
            <div class="d-flex justify-content-center">
                <a href="#" class="btn btn-link btn-float text-default"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
                <a href="#" class="btn btn-link btn-float text-default"><i class="icon-calculator text-primary"></i> <span>Invoices</span></a>
                <a href="#" class="btn btn-link btn-float text-default"><i class="icon-calendar5 text-primary"></i> <span>Schedule</span></a>
            </div>
        </div>*@
    </div>
    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a href="index.html" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                <a href="form_layout_vertical.html" class="breadcrumb-item">Order</a>
                <span class="breadcrumb-item active">Orders</span>
                <span class="breadcrumb-item active">Edit Order Status</span>
            </div>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>
    </div>
</div>
<!-- /page header -->
<!-- Content area -->
<div class="content">

    <!-- 2 columns form -->
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">Order</h5>
            @ViewBag.ErrorMsg
            <div class="header-elements">
                <div class="list-icons">
                    <a href="@Url.Action("Index","Order")" class="btn bg-teal-400 btn-labeled btn-labeled-left"><b><i class="icon-list-unordered"></i></b>View List</a>
                </div>
            </div>
        </div>

        <div class="card-body">
            @using (Html.BeginForm("updatestatus", "Order", FormMethod.Post, new { @class = "flex-fill", @id = "frmtype", enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(M => M.OrderID)
                <div class="row">
                    <div class="col-md-12">
                        <fieldset>
                            <legend class="font-weight-semibold"><i class="icon-reading mr-2"></i> Edit order status</legend>

                            <div class="form-group">
                                @*<label class="d-block">Status:</label>*@
                                <label class="font-weight-semibold">Status:</label>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        @Html.RadioButtonFor(M => M.OrderStatus, "New", new { @class = "form-check-input-styled", @name = "stacked-radio-left", @checked = "checked", @required = "required" })
                                        New
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        @Html.RadioButtonFor(M => M.OrderStatus, "Preparing", new { @class = "form-check-input-styled", @name = "stacked-radio-left", @required = "required" })
                                        Preparing
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        @Html.RadioButtonFor(M => M.OrderStatus, "Delivered", new { @class = "form-check-input-styled", @name = "stacked-radio-left", @required = "required" })
                                        Delivered
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        @Html.RadioButtonFor(M => M.OrderStatus, "Complete", new { @class = "form-check-input-styled", @name = "stacked-radio-left", @required = "required" })                                        
                                        Complete
                                    </label>
                                </div>
                            </div>

                        </fieldset>
                    </div>
                </div>

                <div class="text-right">
                    <button type="submit" id="btnsave" class="btn btn-primary">Update<i class="icon-paperplane ml-2"></i></button>
                </div>
            }
        </div>
    </div>
    <!-- /2 columns form -->

</div>
<!-- /content area -->

<script src="~/Content/validation/jquery.validate.min.js"></script>
<script src="~/Content/validation/additional-methods.min.js"></script>
<script>
    $(document).ready(function () {

        $("#frmtype").validate({

            rules:
            {
                OrderStatus: "required",
                

            },
            messages: {
                OrderStatus: "Please enter status",
            }

        });


        $("#btnsave").on("click", function () {
            if (!$("#frmtype").valid()) {
                return false;
            }
        });
    });

</script>
